@import '@styles/constants';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 6.8vw;
    color: $main-black;
    border-bottom: 2px solid $main-grey;
    @include fontStyle(500, 18px, 180%);
    &__tabs {
        display: flex;
        margin-left: 1vw;
    }
    &__item {
        font-size: 24px;
        margin-right: 4vw;
        color:$main-black;
        &_active {
            color: $main-green;
            position: relative;
            &::after {
                content: '';
                border: 2px solid $main-green;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: -64px;
            }
        }
    }
}