@import '@styles/constants';

.products {    
    &__list {
        padding: 34px 6.8vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__title {
        @include fontStyle(700, 82px, 130%);
        text-align: center;
        color: $main-black;
        margin: 133px 1.6vw 25px 0;
        padding: 0 6.8vw;
    }
    &__subtitle {
        margin: 30px 6.7vw;
        @include fontStyle(700, 57px, 130%);
    }
    &__description {
        word-spacing: 1px;
        @include fontStyle(500, 23px, 180%);
        text-align: center;
        color: $text-grey;
        margin: 0 30vw 0 28.4vw;
    }
    &__search {
        margin: 110px 8.5vw 65px 6.8vw;
        display: flex;
        &-button {
            @include fontStyle(700, 23px, 130%);
            background: $main-green;
            padding: 20px 1.9vw;
            color: $main-white;
            margin: -5px 0.2vw 0 auto;
        }
    }
    &__label {
        background: $main-white;
        @include box-shadow;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-right: 2.1vw;
        padding: 19px 1.7vw;

    }
    &__input {
        padding-top: 3px;
        &::placeholder {
            @include fontStyle(500, 23px, 180%);
        }
    }
    &__button {
        background: $main-white;
        @include box-shadow;
        color: $main-black;
        padding: 26px 3.4vw;
        display: flex;
        @include fontStyle(500, 24px, 180%);
    }
    &__length {
        @include fontStyle(700, 16px, 130%);
        padding: 10px 16px;
        background: $secondary-grey;
        color: $main-green;
        border-radius: 20px;
        vertical-align: super;
    }
}