.slider {
    position: relative;
    margin-right: 3.4vw;
    &__image {
        width: 41.1vw;
        height: 41.1vw;
        display: none;
        &_active{
            display: block;
        }
    }
    &__icon {
        position: absolute;
        width: 30px;
        height: 30px;    
        fill: none;
        stroke:white;
        stroke-width:3;
        stroke-miterlimit:10;
        stroke-linecap: round;
        stroke-linejoin: round;
        padding: 28px 27px;
        border-radius: 50%;
        background-color: black;
        opacity: 0.6;
        box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.2);
        &:hover {
            opacity: 1;
        }
        &-right {
            right: 33px;
            top: 50%;
            transform: translateY(-50%);
        }
        &-left {
            left: 33px;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
        }
    }
}