@import '@styles/constants';

.slider {
    position: relative;
    margin-right: 3.4vw;
    &__image {
        width: 41.1vw;
        height: 41.1vw;
        display: none;
        &_active{
            display: block;
        }
    }
    &__icon {
        position: absolute;
        @include iconSize(30px, 30px);
        fill: none;
        stroke:$main-white;
        stroke-width:3;
        stroke-miterlimit:10;
        stroke-linecap: round;
        stroke-linejoin: round;
        padding: 28px 27px;
        border-radius: 50%;
        background-color: $secondary-black;
        opacity: 0.6;
        @include box-shadow();
        &:hover {
            opacity: 1;
        }
        &-right {
            right: 33px;
            top: 50%;
            transform: translateY(-50%);
        }
        &-left {
            left: 33px;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
        }
    }
}