@import '@styles/constants';

.card {
    font-family: 'Eudoxus Sans';
    font-style: normal;
    display: flex;
    flex-direction: column;
    cursor:pointer;
    margin: 0 30px 37px 0;
    width: 26.7vw;
    &__image {
        width: 100%;
        height: calc(100vw / 4.1);
    }
    &__category {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        margin-top: 38px;
        color: $text-grey;
    }
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: $main-black;
        margin-top: 23px;
    }
    &__description {
        font-weight: 500;
        font-size: 21px;
        line-height: 180%;
        color: $text-grey;
        margin: 13px 0 26px;
    }
    &__price {
        font-weight: 700;
        font-size: 31px;
        line-height: 130%;
        color: $main-black;
        margin-top: auto;
    }
}