@import '@styles/mixins';

$main-green: #518581;
$main-white: white;
$main-grey: #F3F3F3;
$main-black: #151411;
$secondary-black: black;
$secondary-grey: #F9F9F9;
$text-grey: #AFADB5;
$project-box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.2);
