@import '@styles/constants';

.slider {
    position: relative;
    margin-right: 2.5vw;
    &__image {
        width: 31.2vw;
        height: 31.2vw;
        display: none;
        &_active{
            display: block;
        }
    }
    &__icon {
        position: absolute;
        @include iconSize(28px, 28px);
        fill: none;
        stroke:$main-white;
        padding: 17px;
        border-radius: 50%;
        background-color: $secondary-black;
        opacity: 0.6;
        @include box-shadow;
        &:hover {
            opacity: 1;
        }
        &-right {
            right: 24px;
            top: 50%;
            transform: translateY(-50%);
        }
        &-left {
            left: 24px;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
        }
    }
}