@import '@styles/constants';

.product {
    &-card {
        @include fontStyle(700, 59px, 130%);
        display: flex;
        padding: 140px 6.8vw 65px;
        &__title {
            margin: 42px 0 27px;
        }
        &__description {
            font-weight: 500;
            font-size: 23px;
            line-height: 180%;
        }
        &__price {
            margin: 169px 0 64px;
        }
        &__button {
            &-group {
                display: flex;
            }
            font-size: 24px;
            background-color: $main-green;
            color: $main-white;
            border: none;
            width: max-content;
            padding: 20px 7vw 20px;
            &-outline {
                color: $secondary-black;
                background-color: $main-white;
                border: 2px solid $main-grey;
                margin-left: 1.5vw;
                padding: 20px 6.2vw 20px;
            }
        }
    }
}