@import '@styles/constants';

.card {
  @include fontStyle(700, 44px, 130%);
  display: flex;
  padding: 98px 17.5% 52px;

  &__title {
    margin: 32px 0 20px;
  }

  &__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: $text-grey;
  }

  &__price {
    margin: 128px 0 48px;
  }

  &__button {
    &-group {
      display: flex;
    }

    font-size: 18px;
    background-color: $main-green;
    color: $main-white;
    border: none;
    width: max-content;
    padding: 0 5.6vw;

    &:hover {
      opacity: 0.7;
    }

    &_outline {
      color: $secondary-black;
      background-color: $main-white;
      border: 2px solid $main-grey;
      margin-left: 1vw;
      padding: 0 4.7vw;
    }
  }
}

@media (max-width: 1050px) {
  .card {
    flex-direction: column;
    &__price {
      margin: 48px 0;
    }
    &__button {
      width: 100%;
      &-group {
        flex-direction: column;
      }
      &_outline {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}