@import '@styles/constants';

.product {
    &__related {
        padding: 0 6.8vw;
        &-title {
            @include fontStyle(7--, 42px, 130%);
            letter-spacing: 0.01em;
            color: $main-black;
            margin-bottom: 38px;
        }
        &-list {
            display: flex;
        }
    }
}